africastalking==2.0.2
asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
crispy-bootstrap5==2026.3
Django==6.0.6
django-axes==8.3.1
django-crispy-forms==2.6
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
packaging==26.2
psycopg2-binary==2.9.12
python-decouple==3.8
PyYAML==6.0.3
requests==2.34.2
responses==0.26.2
schema==0.7.8
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
