{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Water Shop {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
     <div class="container-fluid">
        <div class="row">

            <nav class="col-md-2 d-none d-md-block bg-dark sidebar min-vh-100 p-0">
                <div class="position-sticky pt-3">
                    <h5 class="text-white text-center mb-4">Water Shop</h5>
                   <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'customer_list' %}">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'product_list' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'sale_list' %}">Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'debt_list' %}">Debt Tracking</a>
                        </li>
                       <li class="nav-item mt-3">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link text-white">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-10 ms-sm-auto px-4 py-4">
                {% block content %}
                {% endblock %}
            </main>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>