{% extends 'shop/base.html' %}

{% block content %}
<h2>Customers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Credit Customer</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>{{ customer.location }}</td>
            <td>{{ customer.is_credit_customer }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}